/*------ page ------*/
.page {
  min-width: 768px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;

  background: #f2f2f2;
}

.page__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}


/*------ main-header ------*/
.main-header {
  position: relative;
}

.main-header__promo {
  position: relative;

  padding-top: 76px;
  padding-bottom: 74px;

  text-align: center;

  background-color: #a0c6dd;
  background-image: url("../img/promo-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header__promo::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 57px;

  background-image: url("../img/promo-shape.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}


/*------ main-nav ------*/
.main-nav {
  background: #ffffff;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 6%;

  list-style-type: none;
}

.main-nav__item {
  flex: 0 1 auto;
  width: 25%;
  padding-top: 17px;
  padding-bottom: 18px;
}

.main-nav__item:nth-child(3) {
  margin-left: 85px;
}

.main-nav__item:nth-child(3),
.main-nav__item:nth-child(4) {
  text-align: right;
}

.main-nav__link {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.main-nav__link:hover {
  color: #81b3d2;
}

.main-nav__link:active {
  opacity: .3;
}

.main-nav__link_active {
  color: #766357;

  cursor: default;
}

.main-nav__link_active:hover {
  color: #766357;
}

.main-nav__link_active:active {
  opacity: 1;
}

.main-nav__link_disabled {
  opacity: .2;
}

.main-nav__link_disabled:hover {
  color: #000000;

  cursor: default;
}

.main-nav__link_disabled:active {
  opacity: .2;
}

.main-nav__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;

  transform: translateX(-50%);
}


/*------ logo ------*/
.logo {
  width: 138px;
  height: 70px;
}

.logo a {
  display: block;
}

.logo a[href]:hover {
  opacity: .8;
}

.logo img {
  vertical-align: middle;
}


/*------ reasons ------*/
.reasons__header {
  padding-top: 60px;
  padding-bottom: 51px;

  text-align: center;
}

.reasons__headline {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.reasons__subtitle {
  margin: 0;

  line-height: 26px;
}

.reasons__row {
  display: flex;
}


/*------ reason ------*/
.reason {
  display: flex;
  flex-basis: 23.334%;
  flex-direction: column;
  align-items: center;
  padding: 47px 5% 60px;

  text-align: center;
}

.reason_blue {
  max-width: 280px;
  padding-top: 55px;
  padding-bottom: 52px;

  color: #ffffff;

  background: #81b3d2;
}

.reason_grey {
  background: #eeeeee;
}

.reason_icon {
  position: relative;

  padding-top: 161px;
  padding-bottom: 83px;

  background-repeat: no-repeat;
}

.reason_icon::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  transform: translateX(-50%);
}

.reason_icon_home::after {
  width: 75px;
  height: 72px;

  background-position: -5px -37px;
}

.reason_icon_food::after {
  width: 74px;
  height: 70px;

  background-position: -90px -37px;
}

.reason_icon_gift::after {
  width: 64px;
  height: 76px;

  background-position: -174px -5px;
}

.reason__title {
  max-width: 151px;
  margin: 0;
  margin-bottom: 23px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.reason__desc {
  max-width: 100%;
}

.reason__number {
  margin-bottom: 21px;
}

.reason_blue .reason__title {
  color: #ffffff;
}


/*------ reason-img ------*/
.reason-img {
  position: relative;

  flex: 1 1 auto;
  overflow: hidden;

  background-color: #bdb9aa;
}
.reason-img img {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 800px;
  height: 400px;

  transform: translate(-50%, -50%);
}


/*------ search ------*/
.search {
  position: relative;

  padding-top: 45px;

  text-align: center;
}

.search__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  color: #000000;
}

.search__desc {
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 47px;

  line-height: 24px;
}

.search__btn {
  padding: 30px 140px;

  font-size: 21px;
  line-height: 26px;
}

.search__form {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 100;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  margin-left: -285px;
  padding: 55px;

  font-weight: 700;
  color: #000000;

  background: #ffffff;
  box-shadow: 0 10px 20px -5px  rgba(0, 0, 0, .2);
}

.search__form_closed {
  display: none;
}

.search__textfield {
  flex-grow: 1;
  margin-bottom: 29px;

  text-align: left;
}

.search__number {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 55px;

  text-align: left;
}

.search__submit {
  flex-grow: 1;
  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 21px;
  line-height: 26px;
  letter-spacing: -.5px;
}


/*------ textfield ------*/
.textfield {
  display: flex;
  align-items: center;
}

.textfield_date {
  position: relative;
}

.textfield__icon {
  content: "";
  position: absolute;
  top: 50%;
  right: 9px;

  width: 22px;
  height: 22px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -5px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: .3;
}

.textfield__icon:hover {
  opacity: 1;
}

.textfield__icon:active {
  background-position: -36px -5px;
}

.textfield__label {
  width: 112px;

  letter-spacing: .4px;
}

.textfield__input {
  position: relative;

  display: block;
  flex: 1 0 auto;
  height: 1.85em;
  padding: 6px 13px;

  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.textfield__input:hover {
  background-color: #ebebeb;
}

.textfield__input:focus {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #dddddd;
}

.textfield__input::-ms-clear {
  display: none;
}

/*------ number ------*/
.number {
  display: flex;
  align-items: center;
}

.number__label {
  max-width: 75px;
  margin-right: 37px;

  letter-spacing: .4px;
}

.number__input {
  display: block;
  width: 38px;
  height: 38px;
  padding: 0;

  font-weight: 700;
  color: #000000;
  text-align: center;

  background-color: #f2f2f2;
  border: none;
}

.number__input:hover {
  background-color: #ebebeb;
}

.number__input:focus {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #dddddd;
}

.number__controls {
  display: flex;
}

.number__btn {
  display: inline-block;
  width: 38px;
  height: 38px;
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  color: #a9a9a9;

  background: none;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.number__btn:hover {
  color: #000000;

  background-color: #ebebeb;
}

.number__btn:active {
  color: #81b3d2;
}

.number__btn:focus {
  outline: 0;
}


/*------ btn ------*/
.btn {
  display: inline-block;

  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background: none;
  border: none;
  cursor: pointer;
}

.btn_small {
  padding: 3px 17px;
}

.btn_fluid {
  width: 100%;
}

.btn_light-blue {
  background: #81b3d2;
}

.btn_light-blue:hover {
  background: #669ec0;
}

.btn_light-blue:active {
  color: #88b6d1;

  background: #5496bd;
}

.btn_brown {
  background: #766357;
}

.btn_brown:hover {
  background-color: #604e43;
}

.btn_brown:active {
  color: #857871;

  background-color: #503e33;
}


/*------ map ------*/
.map {
  height: 593px;

  background-color: #e2e9d1;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}


/*------ main-footer ------*/
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;

  text-align: center;

  background: rgba(255, 255, 255, .9);
}

.main-footer__hashtag {
  flex: 1 0 33.333%;
  display: block;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.main-footer__social {
  flex: 1 0 33.333%;
  justify-content: center;
}

.main-footer__copyright {
  flex: 1 0 33.333%;
}


/*------ copyright ------*/
.copyright__link {
  display: inline-block;
  width: 113px;
  height: 39px;

  font-size: 0;
  vertical-align: middle;

  background-image: url("../img/htmlacademy-logo.png");
  background-repeat: no-repeat;
}

.copyright__link:hover {
  background-image: url("../img/htmlacademy-logo_hover.png");
}

.copyright__link:active {
  background-image: url("../img/htmlacademy-logo.png");
  opacity: .3;
}


/*------ social ------*/
.social {
  display: flex;

  font-size: 0;
}

.social__btn {
  position: relative;

  width: 46px;
  height: 48px;
  margin-right: 6px;

  box-shadow: none;
}

.social__btn:last-child {
  margin-right: 0;
}

.social__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.social__btn_tw::after {
  width: 17px;
  height: 15px;

  background-position: -174px -91px;
}

.social__btn_fb::after {
  width: 10px;
  height: 19px;

  background-position: -135px -5px;
}

.social__btn_youtube::after {
  width: 20px;
  height: 16px;

  background-position: -201px -91px;
}

.social__btn:active::after {
  opacity: .3;
}


/*------ filter ------*/
.filter {
  display: flex;
  padding: 0 6%;
  padding-top: 26px;
  padding-bottom: 32px;

  color: #ffffff;

  background-color: #5d7180;
  background-image: url("../img/filter-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter__group {
  min-width: 255px;
  margin: 0;
  padding: 0;

  border: none;
}

.filter__group_cost {
  width: 31%;
  margin-left: auto;
}

.filter__title {
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.filter__checkbox {
  margin-bottom: 25px;
}

.filter__checkbox:last-child {
  margin-bottom: 0;
}

.filter__group_cost .filter__title {
  margin-bottom: 11px;
}

.filter__price {
  margin-left: 10px;
}

.filter__range {
  margin-bottom: 32px;
}

.filter__submit {
  display: block;
  margin: 0 auto;
  padding: 8px  31px;

  color: #ffffff;
  text-transform: uppercase;

  background: none;
  border: 2px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.filter__submit:hover {
  color: #000000;

  background-color: #ffffff;
}


/*------ checkbox ------*/
.checkbox__input {
  display: none;
}

.checkbox__label {
  position: relative;

  padding-left: 41px;

  cursor: pointer;

  user-select: none;
}

.checkbox__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 22px;
  height: 22px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -67px -5px;
  transform: translateY(-50%);
}

.checkbox__input:not([disabled]) ~ .checkbox__label:hover {
  opacity: .6;
}

.checkbox__input:checked ~ .checkbox__label::before {
  width: 26px;

  background-position: -99px -5px;
}

.checkbox__input:disabled ~ .checkbox__label {
  cursor: default;
  opacity: .3;
}


/*------ price-filter ------*/
.price-filter {
  display: flex;
  flex-direction: column;
}

.price-filter__values {
  position: relative;

  display: flex;
  margin-bottom: 20px;
  padding: 4px;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.price-filter__values::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.price-filter__value {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-left: 19%;
  padding-top: 2px;
  padding-bottom: 1px;
}

.price-filter__value label {
  margin-right: 4px;
}

.price-filter__value input {
  box-sizing: border-box;
  width: 50px;
  height: 1.5em;
  padding: 0 5px;

  font-size: 14px;
  line-height: normal;
  color: #ffffff;

  background-color: transparent;
  border: none;
}


/*------ range ------*/
.range {
  position: relative;

  height: 2px;

  background-color: rgba(255, 255, 255, .3);
}

.range__bar {
  position: relative;
  top: 0;
  left: 0;

  width: 86%;
  height: 2px;

  background: #ffffff;
}

.range__marker {
  position: absolute;
  top: 50%;

  width: 4px;
  height: 4px;
  margin-top: -10px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
}

.range__marker:hover {
  background-color: #1c4f80;
}

.range__marker_min {
  left: 0;
}

.range__marker_max {
  right: 0;
}


/*------ search-result ------*/
.search-result__row {
  padding-top: 30px;
  padding-bottom: 30px;

  border-bottom: 1px solid #e5e5e5;
}

.search-result__inner {
  display: flex;
  align-items: center;
  padding-right: 6%;
  padding-left: 6%;
}

.search-result__title {
  margin-right: 49px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.search-result__title span {
  margin-left: 4px;
}

.search-result__icon {
  position: relative;

  display: inline-block;
  width: 16px;
  height: 15px;

  font-size: 0;
  vertical-align: middle;
}

.search-result__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  border: 5px solid transparent;
  transform: translate(-50%, -50%);
}

.search-result__icon_active {
  cursor: default;
}

.search-result__icon:hover::before {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

.search-result__icon_descending::before {
  border-top-width: 0;
  border-bottom: 10px solid #cccccc;
}

.search-result__icon_ascending::before {
  border-top: 10px solid #cccccc;
  border-bottom-width: 0;
}

.search-result__icon_active::before {
  border-top-color: #81b3d2;
  border-bottom-color: #81b3d2;
}

.search-result__icon_active:hover::before {
  border-top-color: #81b3d2;
  border-bottom-color: #81b3d2;
}


/*------ sort ------*/
.sort {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;

  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
  color: #b1b1b1;
}

.sort__title {
  margin-right: 39px;

  color: #000000;
}

.sort__item {
  margin-right: 33px;
}

.sort__item:last-child {
  margin-right: 0;
  margin-left: auto;
}

.sort__type {
  color: #b1b1b1;
  text-decoration: none;

  border-bottom: 1px dotted #81b3d2;
}

.sort__type:hover {
  color: #81b3d2;
}

.sort__type:active {
  color: #000000;

  border: none;
}

.sort__type_active {
  color: #81b3d2;

  border: none;
}


/*------ hotel ------*/
.hotel {
  display: flex;
  width: 100%;
}

.hotel__img {
  margin-right: 30px;
}
.hotel__img img {
  width: 135px;
  height: 90px;

  vertical-align: middle;
}

.hotel__info {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.hotel__name {
  flex: 1 0 100%;
  max-width: 100%;
  display: block;
  margin: 0;
  margin-bottom: 5px;
  padding-right: 95px;
  box-sizing: border-box;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.hotel__name:hover {
  color: #81b3d2;
}

.hotel__name:active {
  color: #cacaca;
}

.hotel__type {
  margin-right: 39px;
}

.hotel__book {
  flex: 1 0 auto;
  width: 100%;
  margin-top: 10px;
  padding-right: 110px;
  box-sizing: border-box;
}

.hotel__btn {
  margin-right: 3px;
}

.hotel__stars {
  position: absolute;
  top: 0;
  right: 0;

  height: 20px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -90px -117px;
}

.hotel__stars_1 {
  width: 17px;
}

.hotel__stars_2 {
  width: 40px;
}
.hotel__stars_3 {
  width: 65px;
}
.hotel__stars_4 {
  width: 90px;
}

.hotel__rating {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 85px;
  padding: 3px 12px;
  padding-left: 14px;

  color: #666666;
  text-align: center;

  background-color: #f2f2f2;
}
